header{
    background-color: #CC3F55;

    height: 75px;

    position: relative;
    box-shadow: 1px 4px 4px 0px #00000055;
   
}
.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho img{
    height: 60px;
}

.link_header{
    margin-left: 45px;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .cabecalho img {
        height: 35px;
    }
    
    .link_header{
        margin-left: 10px;
    }
    
}