button {
    width: 59%;
    padding: 12px;
    background-color: #640016;
    color: white;
    border: none;
    border-radius: 8px;
 
    cursor: pointer;
    box-shadow: 1px 4px 4px 0px #00000045 ;
} 

.botao {
    width: 30%;
    padding: 12px;
    background-color: #640016;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 1px 4px 4px 0px #00000045;
  }